.card{
    margin: 50px;
    width: 450px;
    height: 300px;
    background:linear-gradient(to right,rgb(255, 0, 0.6),rgba(2, 228, 171, 0.4));
    border-radius: 15px;
    position: relative;
}
.card img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    float: left;
    border-radius: 15px 0 0 15px;
}
.card-body{
    width: 240px;
    margin-left: 10px;
    float: left;
}
button.delete{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    height: 300px;
    width: 240px;
    background-color: red;
    color: black;
    border-radius: 15px 0px 0px 15px;
    opacity: 0;
    transition: 1.3s;
    font-size: 50px;
}
button.delete:hover{
    width: 200px;
    opacity: 0.7;
    cursor: pointer; 
}
button.edit{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    height: 300px;
    width: 240px;
    background-color: yellow;
    color: black;
    border-radius: 0px 15px 15px 0px;
    opacity: 0;
    transition: 1.3s;
    font-size: 50px;
}
button.edit:hover{
    width: 250px;
    opacity: 0.7;
    cursor: pointer; 
}

